{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "ignorePatterns": [
    "node_modules"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
      },
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [
          ".js", ".tsx", ".ts"
        ]
      },
      "alias": {
        "extensions": [ ".js", ".tsx", ".ts"],
        "assets": [
          [
            "@assets", "./src/assets"
          ]
        ]
      }
    }
  },
  "extends": [
    "plugin:nimbus-clean/recommended",
    "plugin:import/recommended"
  ],
  "plugins": [
    "nimbus-clean",
    "import"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "error",
    "node/no-extraneous-require": "off",
     "node/no-extraneous-import": "off",
     "node/no-missing-require": "off",
     "node/no-missing-import": "off",
    "import/no-unresolved": ["error", { "commonjs": true }]
  }
}
