body {
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;
    background-color: #1B1B1B;
}
#root {
    min-width: 320px;
    min-height: 100dvh;
    background-color: #1B1B1B;
}

.ant-divider {
    border-block-start: 3px solid #FFFFFF;
}
